html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --1st-color: #dbd8e3;
  --2nd-color: #5c5470;
  --3rd-color: #352f44;
  --4th-color: #2a2438;
}

body {
  background: linear-gradient(70deg, var(--4th-color), var(--3rd-color));
  height: 100vh;
  margin: 0;
}

.container {
  padding: 0 15px;
}

.hidden {
  opacity: 0;
  z-index: -1;
  transform: translateX(-90%);
}

.cross,
.circle {
  position: relative;
}
.cross::after,
.circle::after {
  content: "\2715";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  color: var(--4th-color);
}

.circle::after {
  content: "\25EF";
}

@media (max-width: 480px) {
  .cross::after,
  .circle::after {
    font-size: 3rem;
    line-height: 70px;
  }
}

.overlay {
  filter: blur(10px);
}

.btn,
.btn::after {
  background-color: var(--4th-color);
  padding: 15px 20px;
  border-radius: 15px;
  color: var(--1st-color);
  cursor: pointer;
  position: relative;
  border: 1px solid black;
  transition: all 0.3s;
}

.btn::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn:hover {
  background-color: var(--3rd-color);
  transform: translateY(-5%);
  box-shadow: 0 4px 10px 0px var(--3rd-color);
}

.btn:hover::after {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: relative;
  z-index: 100;
}

/* score */
.scores {
  position: absolute;
  z-index: 10;
  top: 18%;
  max-width: 400px;
  width: 80%;
  color: var(--4th-color);
  font-size: 2.5rem;
  display: flex;
  justify-content: space-around;
}

.scores div {
  padding: 10px;
  width: calc(50% - 10px);
  margin-left: 10px;
  background-color: var(--2nd-color);
  font-weight: bold;
  -webkit-text-stroke: 2px var(--4th-color);
}

/* game */

.game {
  background: var(--2nd-color);
  padding: 30px;
  border-radius: 15px;
}

.boxes {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 15px;
}

.box {
  background: var(--1st-color);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: -2px -2px 5px 0px #333 inset;
  position: relative;
  cursor: pointer;
}

@media (max-width: 480px) {
  .box {
    width: 70px;
    height: 70px;
  }
}

.modal {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  transition: all 1s;
}

.modal h1,
.modal p {
  color: transparent;
  background: linear-gradient(-135deg, var(--3rd-color), var(--2nd-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black;
}

.modal h1 {
  margin: 0;
}

.modal p {
  font-size: 4rem;
  font-weight: bolder;
}

@media (max-width: 767px) {
  .modal {
    font-size: 1.7rem;
  }
  .modal p {
    font-size: 2.2rem;
  }
}

/* new game */

.new-game {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  font-weight: bolder;
  font-size: 2rem;
  transition: 0.4s;
}

.new-game--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60vh;
  max-height: 330px;
  max-width: 550px;
  gap: 10px;
  text-align: center;
  background: linear-gradient(45deg, var(--2nd-color), var(--1st-color));
  padding: 20px;
  border-radius: 7px;
  margin: 0 15px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.new-game--goal {
  max-width: 300px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.new-game h1 {
  margin: 0;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: var(--4th-color);
  -webkit-text-stroke: 2px var(--4th-color);
}

.new-game--goal input {
  font-size: 3rem;
  padding: 5px 15px;
  height: 55px;
  width: 30px;
  margin-left: 10px;
  background-color: var(--1st-color);
  border: 3px solid var(--4th-color);
  animation: bounce 0.3s infinite alternate;
}

.new-game--goal input:hover {
  animation-play-state: paused;
}

@keyframes bounce {
  from {
    transform: scale(95%);
  }
  to {
    transform: scale(100%);
  }
}

input:focus {
  outline: none;
}

/* remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.new-game--goal label {
  font-size: 3rem;
  letter-spacing: 2px;
  color: var(--4th-color);
  -webkit-text-stroke: 4px var(--4th-color);
}

/* shapes */

.shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 7rem;
  z-index: -1;
  color: var(--1st-color);
  filter: blur(5px);
  overflow: hidden;
}

.shape {
  position: absolute;
}

.shape-1 {
  top: 50%;
  left: 5%;
  transform: rotate(45deg);
}

.shape-2 {
  left: 60%;
  font-size: 9rem;
}

.shape-3 {
  bottom: -20%;
  right: -10%;
  font-size: 25rem;
  transform: rotate(0deg);
}

.shape-4 {
  bottom: 50%;
  right: 10%;
  font-size: 10rem;
  transform: rotate(-10deg);
}

.shape-5 {
  left: 15%;
  top: 10%;
  font-size: 9rem;
  transform: rotate(45deg);
}
